/* :root {
  --color-primary: #5c6ac4;
  --color-secondary: #ecc94b;
} */

.theme-light {
  --color-primary: #EC635E;
  --color-secondary: #EDEDED;
  --color-tertiary: #FEFEFE;
  --color-quartery: #000000;
}

.theme-dark {
  --color-primary: #EC635E;;
  --color-secondary: #EDEDED;
  --color-tertiary: #FEFEFE;
  --color-quartery: #000000;
}

@tailwind base;

@tailwind components;

@tailwind utilities;

.App {
  padding-top: 50px;
}

.scale-on-hover { transition: all .2s ease-in-out; }
.scale-on-hover:hover { transform: scale(1.02); }
